.* {

}
.outline{
    flex: 1;

}

body {
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px gray solid;
}
.title {
    height: 50px;
    align-self: flex-start;
}
h2 {
    font-family: 'Lora', serif;
    color: #272727;
    font-size: 16.8px;
    line-height: 25px;
}

.search {
    padding-left: 10px;
    display: none;
}
.backArrow {

}
.menu {

}

                    /* Main Classes */

.main {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 500px;
}
.right {
    position: relative;
}
.grayArrow {
  width: 0;
  height: 0;
  border-left: 175px solid transparent;
  border-right: 175px solid transparent;
  border-bottom: 300px solid gray;
  transform: rotateZ(5deg);
  position: absolute;
  top: 46px;
  left: 15px;
}

.polygon {
	width: 350px;
	height: 350px;
	background: rgb(133, 253, 243);
	clip-path: polygon(63% 100%, 0 35%, 100% 20%);
	background-image: url("https://s-media-cache-ak0.pinimg.com/564x/1e/05/8e/1e058ebda44db69e4f443e8576840305.jpg");
	background-size: 350px;
	background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    bottom: 25px;
}

                    /* Footer Classes */
.footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-top: 1px solid gray;
}
.footer:active {
    border-bottom: #B0F5F2;
}

.view-friends {

}
.view-friends:active{
    border-bottom: #B0F5F2;
}
.find-friends {

}.view-friends:active{
    border-bottom: #B0F5F2;
}
.update-profile {

}.view-friends:active{
    border-bottom: #B0F5F2;
}

.profileInput {
    flex: 1;
    
}
